<html>
  <head>
    <script src="login.js"></script>
  </head>
  <body>
    <h1>Login to your account</h1>
    <!--We make a form to submit the email and password that is stored in users.json-->
    <form id="form">
      <p>Enter email</p>
      <input placeholder="Email" id="email" required/>
      <br>
      <p>Enter password</p>
      <input placeholder="Password" id="password" required/>
      <br>
      <br>
      <input value="Submit" type="submit" />

      <!--Link to go to register page-->
      <p><a href="register.html">Register here</a></p>

    </form>
  </body>
</html>
